.wrapper
  = render partial: "side"
  .main
    .main-header
      .main-header__top
        .main-header__top-name
          = @group.name
        .main-header__top-edit
          = link_to "Edit", edit_group_path(@group)
      %ul.main-header__members
        Member：
        - @group.group_users.each do |group_user|
          %li= group_user.user.name
    .main-messages
      = render @messages
    = form_for [@group, @message] do |f|
      .main-form
        = f.text_field :body, placeholder: "type a message", class: "main-form__message"
        = f.label :image, class: "main-form__image" do
          = fa_icon "image"
          = f.file_field :image, class: "main-form__image--default"
        = f.submit 'Send', class: "main-form__submit"