.wrapper
  = render partial: "side"
  .main
    .main-header
      .main-header__top
        .main-header__top-name
          = @group.name
        .main-header__top-edit
          = link_to "Edit", edit_group_path(@group)
      %ul.main-header__members
        Member：
        - @group.group_users.each do |group_user|
          %li= group_user.user.name
    = render @messages